@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    /* FONTES */
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;

    /* CORES DE FUNDO */
    --cinza-claro: #d7d7d7;
    --cinza-medio: #333333;
    --cinza-escuro: #0000007b;
    --escuro: #000;
    --claro: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100dvh;
    background-color: var(--cinza-claro);
    font-family: var(--fonte1);
}

/* CABEÇALHO */
header {
    background-color: var(--escuro);
    color: #fff;
    text-align: center;
    padding: 50px 0px;
}

header h1 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: max(10vw, 3rem);
}

header p {
    font-size: max(1.5vw, 1.1rem);
}

header a {
    color: var(--claro);
    text-decoration: underline;
    font-weight: bold;
}

header a:hover {
    color: var(--cinza-claro);
}

main {
    display: flex;
    flex-direction: column;
    width: min(750px, 90vw);
    margin: auto;
}

/* SEÇÕES */
section {
    padding: 2rem;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: max(2vw, 1.3rem);
}

section:nth-child(even) {
    text-align: right;
}

section:nth-child(2) {
    background: url(../images/background01.jpg) no-repeat fixed center / cover;
}

section:nth-child(5) {
    background: url(../images/background02.jpg) no-repeat fixed center / cover;
}

section.texto {
    background-color: var(--claro);
}

section.imagem {
    background-color: var(--cinza-medio);
    color: #fff;
    box-shadow: inset 0px 0px 6px 4px var(--cinza-medio);
}

section.imagem p {
    display: inline-block;
    padding: 1rem;
    background-color: var(--cinza-escuro);
    text-shadow: 2px 2px 1px var(--cinza-escuro);
}

/* RODAPÉ */
footer {
    background-color: var(--escuro);
    color: var(--claro);
    padding: 0.8rem;
    text-align: center;
    margin: auto;
    width: min(750px, 90vw);
}

footer a {
    color: var(--claro);
    text-decoration: none;
    font-weight: 600;
}